/*burger drop down css start here*/
#mobile-nav-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.burger-btn {
    cursor: pointer;
    width: 24px
}

.burger-btn .line {
    background: #fff;
    height: 3px;
    margin: 3px 0;
    position: relative;
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out, -webkit-transform .2s ease-out
}

.burger-btn.close .line-one {
    top: 6px;
    -webkit-transform: rotate(45deg) translateZ(0);
    transform: rotate(45deg) translateZ(0)
}

.burger-btn.close .line-two {
    opacity: 0;
    -webkit-transition-delay: 0ms;
    transition-delay: 0ms
}

.burger-btn.close .line-three {
    top: -6px;
    -webkit-transform: rotate(-45deg) translateZ(0);
    transform: rotate(-45deg) translateZ(0)
}

.burger-btn .line-two {
    -webkit-transition: opacity .1s ease-in-out;
    transition: opacity .1s ease-in-out;
    -webkit-transition-delay: 50ms;
    transition-delay: 50ms
}

#mobile-nav {
    font-family:  univers, Helvetica, Arial, sans-serif;
    position: absolute;
    top: 70px;
    left: 0;
    background: #000;
    display: none;
    width: 100%;
    z-index: 3;
}

.mn-nav {
    display: none;
    font-family:  univers-bold, Helvetica, Arial, sans-serif;
}

#mobile-nav .mn-nav {
    display: block
}

@media only screen and (min-width:1024px) {
    .mn-nav {
        display: block;
        float: left;
        margin: 18px 0 0 25px;
        margin-left: 115px
    }
}

.mn-nav li {
    cursor: pointer;
    display: block
}

@media only screen and (min-width:1024px) {
    .mn-nav li {
        display: inline-block;
        margin: 0 16px
    }
}

.mn-nav li:nth-child(odd) {
    background: #141414
}

@media only screen and (min-width:1024px) {
    .mn-nav li:nth-child(odd) {
        background: none
    }
}

@media only screen and (min-width:1024px) {
    .mn-nav li:hover a {
        color: #fff;
        display: inline-block
    }
}

.mn-nav li:hover li a.active,.mn-nav li:hover li a:hover {
    color: #fff
}

.mn-nav li.open .dd-nav {
    display: block
}

.open {
    display: block;
}

.mn-nav .mobile-btn {
    display: inline-block
}

@media only screen and (min-width:1024px) {
    .mn-nav .mobile-btn {
        display: none
    }
}

.mn-nav a {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    display: block;
    line-height: 1;
    padding: 20px;
    position: relative;
    text-decoration: none;
    -webkit-transition: color .1s ease-out;
    transition: color .1s ease-out;
    white-space: pre
}

@media only screen and (min-width:1024px) {
    .mn-nav a {
        font-size: 14px;
        font-size: 1.4rem;
        display: inline-block;
        padding: 0 0 29px
    }
}

.mn-nav a:before {
    position: absolute;
    top: 21px;
    right: 20px;
    font-size: 18px;
    font-size: 1.8rem;
    color: #fd0
}

@media only screen and (min-width:1024px) {
    .mn-nav a:before {
        content: '';
        display: block;
        right: auto;
        top: auto;
        -webkit-transition: width .15s ease-out;
        transition: width .15s ease-out;
        width: 0
    }
}

.mn-nav a.active,.mn-nav a:hover {
    color: #fff
}

@media only screen and (min-width:1024px) {
    .mn-nav a.active:before,.mn-nav a:hover:before {
        position: absolute;
        bottom: 0;
        left: 50%;
        height: 2px;
        width: 100%;
        background: #fd0;
        content: '';
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }
}

.mn-nav ul {
    font-size: 0;
    margin: 0;
    padding: 0
}

.mn-nav ul ul {
    display: none;
    padding: 0 0 10px 25px
}

@media only screen and (min-width:1024px) {
    .mn-nav ul ul {
        position: absolute;
        top: 112px;
        left: 0;
        background: rgba(0, 0, 0, .3);
        padding: 0;
        text-align: center;
        width: 100%
    }
}

.mn-nav ul ul li {
    margin: 0
}

.mn-nav ul ul li:nth-child(odd) {
    background: none
}

@media only screen and (min-width:1024px) {
    .mn-nav ul ul li a:before {
        display: none
    }
}

.mn-nav ul ul a {
    font-size: 15px;
    line-height: 1.2;
    opacity: .75;
    padding: 10px 20px;
    text-align: left;
    -webkit-transition: opacity .15s ease-out;
    transition: opacity .15s ease-out
}

@media only screen and (min-width:1024px) {
    .mn-nav ul ul a {
        font-size: 14px;
        font-size: 1.4rem;
        padding: 20px
    }
}

.mn-nav ul ul a.active,.mn-nav ul ul a:hover {
    opacity: 1
}

.plusIcon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
}
.foldIcon {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
}
#top-nav {
    display: none
}

#mobile-nav #top-nav {
    display: block
}

@media only screen and (min-width:1024px) {
    #top-nav {
        background: rgba(0, 0, 0, .2);
        display: block
    }
}

#top-nav #top-nav-btns {
    font-size: 0;
    padding: 10px 0
}

@media only screen and (min-width:1024px) {
    #top-nav #top-nav-btns {
        float: right;
        padding: 0
    }
}

#top-nav a {
    font-size: 14px;
    color: #fff;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    white-space: pre
}

@media only screen and (min-width:1024px) {
    #top-nav a {
        font-size: 12px;
        font-size: 1.2rem;
        color: #fff;
        display: inline-block;
        line-height: 1;
        margin-left: 25px;
        padding: 12px 0;
        position: relative
    }
    #top-nav a:hover {
        text-decoration: none !important
    }
    #top-nav a:before {
        position: absolute;
        top: 0;
        left: 50%;
        height: 2px;
        width: 0;
        background: #fd0;
        content: '';
        display: block;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: width .15s ease-out;
        transition: width .15s ease-out
    }
    #top-nav a.active:before,#top-nav a:hover:before {
        width: 100%
    }
}

#top-nav a:hover {
    text-decoration: underline
}
/*burger drop down css end here*/

/*back to top css start here*/
.btt-btn,.see-more {
    cursor: pointer;
    text-align: center;
}
.btt-btn i,.see-more i {
    height: 42px;
    width: 42px;
    font-size: 21px;
    background: #fd0;
    border-radius: 50%;
    color: #fff;
    display: table;
    margin: 0 auto;
    -webkit-transition: background 2s ease-out;
    transition: background 2s ease-out
}

.btt-btn i:before,.see-more i:before {
    position: relative;
    top: 8px
}

.btt-btn:hover i,.see-more:hover i {
    background: #f0d000
}

.btt-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: none;
    z-index: 4
}
[class*=" icon-"]:before, [class^=icon-]:before, [data-icon]:before {
    position: relative;
}
[class*=" icon-"]:before, [class^=icon-]:before, [data-icon]:before {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: western-union-corporate !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
}
.icon-chevron-up:before {
    content: "\6a"
}

@media only screen and (min-width:768px) {
    .btt-btn {
        bottom: 40px;
        right: 40px
    }
}
/*back to top css start here*/